
/Questão07/nbproject/private/
/Questão07/build/
/Questão08/nbproject/private/
/Questão08/build/
/Questão09/nbproject/private/
/Questão09/build/
/Questão10/build/
/Questão10/dist/
/Questão11/build/
/Questão12/nbproject/private/
/Questão12/build/
/Questão12/dist/
